<div class="static-content">
	<div class="row">

		<div class="small-12 columns">
			<h1 class="text-center">About Page!</h1>
		</div>

		<div class="small-6 columns">
			<div class="content text-center">
				<p>Here is some static content that fills half of the row</p>
			</div>	
		</div>

		<div class="small-6 columns">
			<div class="content text-center">
				<p>And here is another static content.</p>
			</div>
		</div>
		
	</div>
	<!-- end of the row -->
</div>
<!-- end of static-content section -->